$iphone6-width: 375px;
$iphone6-height: 667px;

$iphone6plus-width: 414px;
$iphone6plus-height: 736px;

$iphone5-width: 320px;
$iphone5-height: 568px;

$iphone4-width: 320px;
$iphone4-height: 480px;

$white: #fff;
$black: #050505;
$orange: #f9a848;
$light-gray: #aeaeaf;
$dark-gray: #333333;
$font-gray: #676767;
$scary-gray: #666666;
$off-gray: #f6f7f7;
$gray-gray: #808080;
$hr-color: #1a1a1a;
