@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *::after, *::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px; }
  .container::after {
    clear: both;
    content: "";
    display: table; }

@media only screen and (min-width: 800px) {
  .headings {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .headings:last-child {
      margin-right: 0; }
  .columns-right {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-right: 0; }
    .columns-right:last-child {
      margin-right: 0; }
    .columns-right .split-columns {
      padding-bottom: 2em;
      float: left;
      display: block;
      margin-right: 3.57866%;
      width: 48.21067%; }
      .columns-right .split-columns:last-child {
        margin-right: 0; }
      .columns-right .split-columns:nth-child(2n) {
        margin-right: 0; } }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-size: 62.5%; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "MyriadPro";
  src: url("../fonts/MyriadPro-Regular.otf") format("truetype"); }

@font-face {
  font-family: "Pangram";
  src: url("../fonts/Pangram-Black.otf") format("truetype");
  font-weight: 700; }

@font-face {
  font-family: "Pangram";
  src: url("../fonts/Pangram-ExtraBold.otf") format("truetype");
  font-weight: 600; }

@font-face {
  font-family: "Pangram";
  src: url("../fonts/Pangram-Bold.otf") format("truetype");
  font-weight: 500; }

@font-face {
  font-family: "Pangram";
  src: url("../fonts/Pangram-Regular.otf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: "Pangram";
  src: url("../fonts/Pangram-Light.otf") format("truetype");
  font-weight: 300; }

@font-face {
  font-family: "Pangram";
  src: url("../fonts/Pangram-ExtraLight.otf") format("truetype");
  font-weight: 200; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?19hqka");
  src: url("../fonts/icomoon.eot?19hqka#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?19hqka") format("truetype"), url("../fonts/icomoon.woff?19hqka") format("woff"), url("../fonts/icomoon.svg?19hqka#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-right-chevron:before {
  content: "\e905"; }

.icon-linkedin:before {
  content: "\e901"; }

.icon-twitter-icon:before {
  content: "\e902"; }

.icon-down-arrow:before {
  content: "\e903"; }

.icon-checkmark-icon:before {
  content: "\e904"; }

.icon-right-arrow:before {
  content: "\e900"; }

.offscreen {
  display: block;
  left: -999999px;
  position: absolute;
  top: -999999px; }

html, body {
  overflow-x: hidden;
  margin-top: 0; }

body {
  font-family: "Pangram", sans-serif;
  font-weight: 400;
  color: #fff;
  letter-spacing: .1em; }

h1, h2 {
  font-size: 3.6em; }

a {
  text-decoration: none;
  color: #fff;
  font-size: 1.4em;
  padding: 2em 3em; }

a.button {
  border: 1px solid #fff;
  border-radius: 3.0em;
  background-color: transparent;
  -webkit-transition: background-color 0.25s ease, color 0.25s ease;
  transition: background-color 0.25s ease, color 0.25s ease; }
  a.button:hover, a.button:focus {
    background-color: #fff;
    color: #f9a848;
    -webkit-transition: background-color 0.25s ease, color 0.25s ease;
    transition: background-color 0.25s ease, color 0.25s ease; }

a.button-orange {
  text-align: center;
  border: 1px solid #f9a848;
  border-radius: 3.0em;
  color: orange;
  margin-bottom: 4em;
  background-color: transparent;
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease; }
  a.button-orange:hover, a.button-orange:focus {
    background-color: #f9a848;
    color: #fff;
    -webkit-transition: background-color 0.25s ease, color 0.25s ease;
    transition: background-color 0.25s ease, color 0.25s ease; }

hr {
  margin-left: 0;
  border-top: 1px solid #1a1a1a;
  width: 8.0em; }

.black-font {
  color: #050505; }

.white-font {
  color: #fff; }

.dark-gray-font {
  color: #333333; }

.twentyone-font {
  font-size: 21px; }

.scary-gray-font {
  color: #666666; }

.center {
  text-align: center; }

div.block {
  display: block; }

.group:after {
  content: "";
  display: table;
  clear: both; }

nav {
  background: url(../assets/home-hero-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding-bottom: 15em; }
  nav .container {
    position: relative; }
    nav .container .nav-bar {
      width: 100%; }
      nav .container .nav-bar a.home {
        display: inline-block;
        position: absolute;
        padding: 0;
        padding-left: 20px;
        border: none;
        z-index: 5;
        left: 0; }
        nav .container .nav-bar a.home img {
          padding-top: 2em;
          width: 125px; }
      nav .container .nav-bar p {
        padding: 2em 0 5em;
        font-size: 1.8em; }
      nav .container .nav-bar .block {
        padding-top: 16em; }
      nav .container .nav-bar #nav-icon {
        display: inline-block;
        position: absolute;
        right: 2em;
        top: 2.6em;
        width: 3.0em;
        height: 69px;
        cursor: pointer;
        z-index: 4;
        -webkit-transition: margin-right .5s;
        transition: margin-right .5s;
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg); }
        nav .container .nav-bar #nav-icon span {
          position: absolute;
          display: block;
          width: 100%;
          height: 5px;
          background: #fff;
          left: 0;
          -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out; }
        nav .container .nav-bar #nav-icon span:nth-child(1) {
          top: 26px; }
        nav .container .nav-bar #nav-icon span:nth-child(2), nav .container .nav-bar #nav-icon span:nth-child(3) {
          top: 36px; }
        nav .container .nav-bar #nav-icon span:nth-child(4) {
          top: 46px; }
      nav .container .nav-bar #nav-icon.open {
        z-index: 4; }
        nav .container .nav-bar #nav-icon.open span:nth-child(1) {
          top: 36px;
          width: 0%;
          left: 50%; }
        nav .container .nav-bar #nav-icon.open span:nth-child(2) {
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg); }
        nav .container .nav-bar #nav-icon.open span:nth-child(3) {
          -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }
        nav .container .nav-bar #nav-icon.open span:nth-child(4) {
          top: 36px;
          width: 0%;
          left: 50%; }
      nav .container .nav-bar #nav-links {
        position: absolute;
        background-color: #050505;
        left: 100%;
        width: 0;
        height: 100vh;
        top: 0;
        overflow: hidden;
        z-index: 3;
        -webkit-transition: .25s ease-in-out;
        transition: .25s ease-in-out; }
        nav .container .nav-bar #nav-links ul {
          padding: 10em 0 2em; }
          nav .container .nav-bar #nav-links ul li {
            font-size: 1.8em;
            text-align: center;
            position: relative; }
            nav .container .nav-bar #nav-links ul li a {
              display: block;
              font-size: 1em;
              padding: 1em 0;
              border: none; }
            nav .container .nav-bar #nav-links ul li:hover, nav .container .nav-bar #nav-links ul li:focus {
              background-color: #f9a848; }
      nav .container .nav-bar #nav-links.popup {
        width: 100%;
        position: fixed;
        left: 0;
        z-index: 3;
        -webkit-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out; }

nav.focus, nav.shift, nav.about, nav.work, nav.case-study, nav.contact {
  background: url(../assets/clutch-focus-hero.jpg);
  background-repeat: no-repeat;
  background-position: left -13em center;
  padding-bottom: 0; }
  nav.focus .container .nav-bar .block .columns-right p, nav.shift .container .nav-bar .block .columns-right p, nav.about .container .nav-bar .block .columns-right p, nav.work .container .nav-bar .block .columns-right p, nav.case-study .container .nav-bar .block .columns-right p, nav.contact .container .nav-bar .block .columns-right p {
    padding-top: 1em; }

nav.shift {
  background: url(../assets/clutch-shift-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left -20em center; }

@media only screen and (min-width: 700px) {
  nav.shift {
    background-position: center; } }

nav.about {
  background: url(../assets/clutch-about-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center; }

nav.work, nav.case-study {
  background: url(../assets/clutch-work-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center; }

nav.case-study {
  height: 100px;
  background-size: 200% 300%; }

nav.contact {
  background: url(../assets/clutch-contact-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center; }

@media only screen and (min-width: 400px) {
  nav .nav-bar h1, nav .nav-bar h2 {
    width: 360px; } }

@media only screen and (min-width: 800px) {
  nav .container .nav-bar .block h1, nav .container .nav-bar .block h2 {
    width: 650px;
    font-size: 6.4em; }
  nav .container .nav-bar .block p {
    font-size: 3em;
    padding-bottom: 2em; }
  nav .container .nav-bar #nav-icon {
    display: none; }
  nav .container .nav-bar #nav-links {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-left: 34.11922%;
    position: relative;
    height: auto;
    left: 0;
    background-color: transparent;
    overflow: hidden; }
    nav .container .nav-bar #nav-links:last-child {
      margin-right: 0; }
    nav .container .nav-bar #nav-links ul {
      padding: 0; }
      nav .container .nav-bar #nav-links ul > li {
        display: inline-block;
        width: 90px;
        text-align: left;
        position: relative;
        z-index: 1; }
        nav .container .nav-bar #nav-links ul > li a {
          padding: 3em 0 1em; }
        nav .container .nav-bar #nav-links ul > li:hover, nav .container .nav-bar #nav-links ul > li:focus {
          background-color: transparent; }
        nav .container .nav-bar #nav-links ul > li.selected {
          position: relative; }
      nav .container .nav-bar #nav-links ul > li:last-child {
        position: absolute;
        height: 5px;
        width: 75px;
        padding: 0;
        top: 0;
        left: -90px;
        background-color: #fff;
        -webkit-transition: -webkit-transform 0.25s linear;
        transition: -webkit-transform 0.25s linear;
        transition: transform 0.25s linear;
        transition: transform 0.25s linear, -webkit-transform 0.25s linear;
        z-index: 0; }
      nav .container .nav-bar #nav-links ul::after {
        clear: both;
        content: "";
        display: table; }
      nav .container .nav-bar #nav-links ul li:nth-child(1):hover ~ li:last-child {
        -webkit-transform: translateX(90px);
        -ms-transform: translateX(90px);
        transform: translateX(90px); }
      nav .container .nav-bar #nav-links ul li:nth-child(1).selected ~ li:last-child {
        -webkit-transform: translateX(90px);
        -ms-transform: translateX(90px);
        transform: translateX(90px); }
      nav .container .nav-bar #nav-links ul li:nth-child(2):hover ~ li:last-child {
        -webkit-transform: translateX(-webkit-calc(90px * 2));
        -ms-transform: translateX(calc(90px * 2));
        transform: translateX(calc(90px * 2)); }
      nav .container .nav-bar #nav-links ul li:nth-child(2).selected ~ li:last-child {
        -webkit-transform: translateX(-webkit-calc(90px * 2));
        -ms-transform: translateX(calc(90px * 2));
        transform: translateX(calc(90px * 2)); }
      nav .container .nav-bar #nav-links ul li:nth-child(3):hover ~ li:last-child {
        -webkit-transform: translateX(-webkit-calc(90px * 3));
        -ms-transform: translateX(calc(90px * 3));
        transform: translateX(calc(90px * 3)); }
      nav .container .nav-bar #nav-links ul li:nth-child(3).selected ~ li:last-child {
        -webkit-transform: translateX(-webkit-calc(90px * 3));
        -ms-transform: translateX(calc(90px * 3));
        transform: translateX(calc(90px * 3)); }
      nav .container .nav-bar #nav-links ul li:nth-child(4):hover ~ li:last-child {
        -webkit-transform: translateX(-webkit-calc(90px * 4));
        -ms-transform: translateX(calc(90px * 4));
        transform: translateX(calc(90px * 4)); }
      nav .container .nav-bar #nav-links ul li:nth-child(4).selected ~ li:last-child {
        -webkit-transform: translateX(-webkit-calc(90px * 4));
        -ms-transform: translateX(calc(90px * 4));
        transform: translateX(calc(90px * 4)); }
      nav .container .nav-bar #nav-links ul li:nth-child(5):hover ~ li:last-child {
        -webkit-transform: translateX(-webkit-calc(90px * 5));
        -ms-transform: translateX(calc(90px * 5));
        transform: translateX(calc(90px * 5)); }
      nav .container .nav-bar #nav-links ul li:nth-child(5).selected ~ li:last-child {
        -webkit-transform: translateX(-webkit-calc(90px * 5));
        -ms-transform: translateX(calc(90px * 5));
        transform: translateX(calc(90px * 5)); } }

@media only screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  nav .container .nav-bar a.home img {
    height: 80px; }
  nav .container .nav-bar #nav-links ul li:last-child {
    display: none; } }

_:-ms-fullscreen, :root .selector {
  property: value; }

.featured-cs, .featured-cs-white {
  background-color: #050505;
  padding-bottom: 2em;
  padding-top: 4em; }
  .featured-cs h2, .featured-cs-white h2 {
    padding-bottom: 2em;
    font-size: 1.4em;
    font-weight: 500; }
  .featured-cs .container .case-block, .featured-cs-white .container .case-block {
    background: url(../assets/data-bg.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    position: relative;
    padding: 1.5em;
    height: 260px;
    margin-bottom: 2em; }
    .featured-cs .container .case-block h3, .featured-cs-white .container .case-block h3 {
      font-size: 3.6em;
      padding-bottom: 0.5em; }
    .featured-cs .container .case-block p, .featured-cs-white .container .case-block p {
      font-size: 1.4em;
      font-weight: 500;
      color: #aeaeaf; }
    .featured-cs .container .case-block a, .featured-cs-white .container .case-block a {
      position: absolute;
      color: #f9a848;
      padding: 1em 0;
      bottom: 0;
      border: none; }
  .featured-cs .container .case-block:nth-child(3), .featured-cs-white .container .case-block:nth-child(3) {
    background: url(../assets/road-bg.jpg);
    background-size: auto 100%;
    background-position: center; }

.featured-cs-white {
  background-color: #fff; }
  .featured-cs-white h2 {
    color: #050505; }

@media only screen and (min-width: 600px) {
  .featured-cs .container .case-block, .featured-cs-white .container .case-block {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .featured-cs .container .case-block:last-child, .featured-cs-white .container .case-block:last-child {
      margin-right: 0; }
    .featured-cs .container .case-block:nth-child(2n+1), .featured-cs-white .container .case-block:nth-child(2n+1) {
      margin-right: 0; } }

.clients, .clients-off-gray {
  padding-bottom: 4em; }
  .clients h2, .clients-off-gray h2 {
    padding: 3em 0;
    font-size: 1.4em;
    font-weight: 500;
    color: #050505; }
  .clients ul, .clients-off-gray ul {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    .clients ul:last-child, .clients-off-gray ul:last-child {
      margin-right: 0; }
    .clients ul li, .clients-off-gray ul li {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%;
      height: 120px;
      line-height: 120px;
      text-align: center; }
      .clients ul li:last-child, .clients-off-gray ul li:last-child {
        margin-right: 0; }
      .clients ul li img, .clients-off-gray ul li img {
        width: 80%;
        vertical-align: middle; }
      .clients ul li img#att, .clients-off-gray ul li img#att {
        width: 70%; }
    .clients ul li:nth-child(2n), .clients-off-gray ul li:nth-child(2n) {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%;
      margin-right: 0; }
      .clients ul li:nth-child(2n):last-child, .clients-off-gray ul li:nth-child(2n):last-child {
        margin-right: 0; }

.clients-off-gray {
  background-color: #f6f7f7; }

@media only screen and (min-width: 400px) {
  .clients ul li img, .clients-off-gray ul li img {
    width: 140px; }
  .clients ul li img#att, .clients-off-gray ul li img#att {
    width: 140px; } }

@media only screen and (min-width: 600px) {
  .clients ul li, .clients-off-gray ul li {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .clients ul li:last-child, .clients-off-gray ul li:last-child {
      margin-right: 0; }
    .clients ul li:nth-child(2n), .clients-off-gray ul li:nth-child(2n) {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%; }
      .clients ul li:nth-child(2n):last-child, .clients-off-gray ul li:nth-child(2n):last-child {
        margin-right: 0; }
    .clients ul li:nth-child(3n+1) img, .clients-off-gray ul li:nth-child(3n+1) img {
      float: left;
      -webkit-transform: translateY(60%);
      -ms-transform: translateY(60%);
      transform: translateY(60%); }
    .clients ul li:nth-child(3n+2), .clients-off-gray ul li:nth-child(3n+2) {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      margin-right: 0; }
      .clients ul li:nth-child(3n+2):last-child, .clients-off-gray ul li:nth-child(3n+2):last-child {
        margin-right: 0; }
    .clients ul li:nth-child(3n), .clients-off-gray ul li:nth-child(3n) {
      margin-right: 0; }
      .clients ul li:nth-child(3n) img, .clients-off-gray ul li:nth-child(3n) img {
        float: right;
        -webkit-transform: translateY(110%);
        -ms-transform: translateY(110%);
        transform: translateY(110%); } }

footer {
  text-align: center; }
  footer a {
    border: none; }
  footer .top-footer {
    background-color: #050505; }
    footer .top-footer .container {
      padding: 4em 0;
      position: relative;
      font-size: 16px; }
      footer .top-footer .container img {
        position: absolute;
        opacity: 0; }
      footer .top-footer .container a {
        padding-bottom: 2em;
        font-size: 16px; }
      footer .top-footer .container p {
        padding-top: 2em; }
      footer .top-footer .container p.twitter::after {
        font-family: 'icomoon' !important;
        padding-left: 0.8em;
        font-size: 1.25em;
        color: #fff;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: ""; }
      footer .top-footer .container p.linkedin::after {
        font-family: 'icomoon' !important;
        padding-left: 0.8em;
        font-size: 1.5em;
        color: #fff;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: ""; }
  footer .bottom-footer {
    background-color: #333333;
    color: #666666; }
    footer .bottom-footer .container {
      padding: 4em 0; }
      footer .bottom-footer .container .links a {
        color: #666666;
        padding: 0 0.5em 0;
        text-decoration: underline; }
      footer .bottom-footer .container .copyright p {
        padding-top: 2em; }

@media only screen and (min-width: 800px) {
  footer .top-footer {
    position: relative; }
    footer .top-footer .container {
      padding: 3em 0; }
      footer .top-footer .container img {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%;
        opacity: 1;
        left: -9em;
        top: 0;
        height: 100%; }
        footer .top-footer .container img:last-child {
          margin-right: 0; }
      footer .top-footer .container a {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%;
        padding: 0; }
        footer .top-footer .container a:last-child {
          margin-right: 0; }
      footer .top-footer .container p {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%;
        padding: 0; }
        footer .top-footer .container p:last-child {
          margin-right: 0; }
  footer .bottom-footer .container {
    padding: 3em 2em; }
    footer .bottom-footer .container .links {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%;
      display: inline-block;
      text-align: left; }
      footer .bottom-footer .container .links:last-child {
        margin-right: 0; }
      footer .bottom-footer .container .links a {
        padding-left: 0; }
    footer .bottom-footer .container .copyright {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 40.29137%;
      margin-left: 34.11922%;
      text-align: right; }
      footer .bottom-footer .container .copyright:last-child {
        margin-right: 0; }
      footer .bottom-footer .container .copyright p {
        display: inline-block;
        padding-top: 0; }
      footer .bottom-footer .container .copyright br {
        display: none; } }

.info {
  background-color: #050505;
  padding-top: 4em;
  padding-bottom: 6em;
  color: #676767;
  font-weight: 300; }
  .info .container h1 {
    color: #fff;
    padding-bottom: 1em; }
  .info .container p {
    font-size: 1.8em;
    clear: both; }
  .info .container figure {
    height: 35px;
    line-height: 1.8em;
    margin-bottom: 4em; }
    .info .container figure img {
      width: 35px;
      height: 100%;
      margin-right: 1em; }
    .info .container figure figcaption {
      display: inline-block;
      font-size: 1.4em;
      color: #fff; }

@media only screen and (min-width: 800px) {
  .info .container figure {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    position: absolute; }
    .info .container figure:last-child {
      margin-right: 0; }
  .info .container h1, .info .container p {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-left: 34.11922%;
    margin-right: 0; }
    .info .container h1:last-child, .info .container p:last-child {
      margin-right: 0; } }

.drop-menu {
  background-color: #333333;
  font-size: 1.4em;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0); }
  .drop-menu .container p {
    cursor: pointer;
    padding: 2em 0; }
    .drop-menu .container p span {
      float: right;
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: -webkit-transform 0.4s ease;
      transition: -webkit-transform 0.4s ease;
      transition: transform 0.4s ease;
      transition: transform 0.4s ease, -webkit-transform 0.4s ease; }
    .drop-menu .container p span.rotate {
      -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      transform: rotate(-180deg); }
  .drop-menu .container #menu {
    position: relative; }
  .drop-menu .container .menu {
    background-color: #333333;
    width: 100%;
    left: 0;
    padding-left: 2em;
    position: absolute;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.25s ease;
    transition: max-height 0.25s ease; }
    .drop-menu .container .menu ul li {
      padding: 0.25em 0; }
      .drop-menu .container .menu ul li a {
        display: block;
        padding: inherit;
        font-size: 14px;
        color: #808080; }
      .drop-menu .container .menu ul li:last-child {
        margin-bottom: 2em; }
    .drop-menu .container .menu ul li.selected a {
      color: #fff; }
  .drop-menu .container .menu.open {
    max-height: 200px;
    -webkit-transition: max-height 0.75s ease;
    transition: max-height 0.75s ease; }

.drop-menu.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; }

@media only screen and (min-width: 800px) {
  .drop-menu .container p {
    display: none; }
  .drop-menu .container .menu {
    position: static;
    max-height: 300px;
    overflow: visible;
    padding-left: 0; }
    .drop-menu .container .menu ul {
      margin: 0;
      height: auto;
      position: relative; }
      .drop-menu .container .menu ul li {
        width: 20%;
        display: inline-block;
        padding: 0 3.5%;
        position: relative; }
        .drop-menu .container .menu ul li a {
          padding: 2em 0;
          text-align: center;
          -webkit-transition: color 0.25s ease;
          transition: color 0.25s ease; }
        .drop-menu .container .menu ul li.selected {
          position: relative; }
      .drop-menu .container .menu ul > li:last-child {
        position: absolute;
        top: 100%;
        left: 0;
        margin: 0;
        padding: 0;
        z-index: 0;
        -webkit-transition: -webkit-transform .25s linear;
        transition: -webkit-transform .25s linear;
        transition: transform .25s linear;
        transition: transform .25s linear, -webkit-transform .25s linear; }
        .drop-menu .container .menu ul > li:last-child .last-child {
          margin: 0;
          padding: 0;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-top: 10px solid #333333;
          width: 0;
          margin-left: auto;
          margin-right: auto; }
      .drop-menu .container .menu ul::after {
        clear: both;
        content: "";
        display: table; }
      .drop-menu .container .menu ul li:nth-child(1):hover ~ li:last-child {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0); }
      .drop-menu .container .menu ul li:nth-child(1).selected ~ li:last-child {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0); }
      .drop-menu .container .menu ul li:nth-child(2):hover ~ li:last-child {
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%); }
      .drop-menu .container .menu ul li:nth-child(2).selected ~ li:last-child {
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%); }
      .drop-menu .container .menu ul li:nth-child(3):hover ~ li:last-child {
        -webkit-transform: translateX(200%);
        -ms-transform: translateX(200%);
        transform: translateX(200%); }
      .drop-menu .container .menu ul li:nth-child(3).selected ~ li:last-child {
        -webkit-transform: translateX(200%);
        -ms-transform: translateX(200%);
        transform: translateX(200%); }
      .drop-menu .container .menu ul li:nth-child(4):hover ~ li:last-child {
        -webkit-transform: translateX(300%);
        -ms-transform: translateX(300%);
        transform: translateX(300%); }
      .drop-menu .container .menu ul li:nth-child(4).selected ~ li:last-child {
        -webkit-transform: translateX(300%);
        -ms-transform: translateX(300%);
        transform: translateX(300%); }
      .drop-menu .container .menu ul li:nth-child(5):hover ~ li:last-child {
        -webkit-transform: translateX(400%);
        -ms-transform: translateX(400%);
        transform: translateX(400%); }
      .drop-menu .container .menu ul li:nth-child(5).selected ~ li:last-child {
        -webkit-transform: translateX(400%);
        -ms-transform: translateX(400%);
        transform: translateX(400%); } }

.description, .description-summary, .description-case-study, .description-history, .description-gray, .description-dark-gray, .description-orange, .description-orange-advantage {
  color: #333333;
  padding-top: 3em;
  padding-bottom: 0; }
  .description .container, .description-summary .container, .description-case-study .container, .description-history .container, .description-gray .container, .description-dark-gray .container, .description-orange .container, .description-orange-advantage .container {
    padding-bottom: 4em; }
    .description .container img, .description-summary .container img, .description-case-study .container img, .description-history .container img, .description-gray .container img, .description-dark-gray .container img, .description-orange .container img, .description-orange-advantage .container img {
      width: 150px;
      padding-bottom: 4em; }
    .description .container h2, .description-summary .container h2, .description-case-study .container h2, .description-history .container h2, .description-gray .container h2, .description-dark-gray .container h2, .description-orange .container h2, .description-orange-advantage .container h2 {
      clear: both;
      font-size: 1.4em;
      padding-top: 1em;
      padding-bottom: 2em;
      font-weight: 500; }
    .description .container h3, .description-summary .container h3, .description-case-study .container h3, .description-history .container h3, .description-gray .container h3, .description-dark-gray .container h3, .description-orange .container h3, .description-orange-advantage .container h3 {
      clear: both;
      font-size: 3.2em;
      color: #f9a848;
      padding-top: 10px;
      padding-bottom: 40px;
      font-weight: 400; }
    .description .container h4, .description-summary .container h4, .description-case-study .container h4, .description-history .container h4, .description-gray .container h4, .description-dark-gray .container h4, .description-orange .container h4, .description-orange-advantage .container h4 {
      font-size: 3.2em;
      color: #333333;
      padding-top: 40px; }
      .description .container h4::after, .description-summary .container h4::after, .description-case-study .container h4::after, .description-history .container h4::after, .description-gray .container h4::after, .description-dark-gray .container h4::after, .description-orange .container h4::after, .description-orange-advantage .container h4::after {
        font-family: 'icomoon' !important;
        padding-left: 0.5em;
        font-size: 0.8em;
        color: #f9a848;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: ""; }
    .description .container p, .description-summary .container p, .description-case-study .container p, .description-history .container p, .description-gray .container p, .description-dark-gray .container p, .description-orange .container p, .description-orange-advantage .container p {
      font-size: 1.4em;
      padding-top: 40px;
      font-weight: 400; }
      .description .container p a, .description-summary .container p a, .description-case-study .container p a, .description-history .container p a, .description-gray .container p a, .description-dark-gray .container p a, .description-orange .container p a, .description-orange-advantage .container p a {
        font-size: 1em;
        display: inline;
        border: none;
        padding: 0;
        color: #f9a848; }
      .description .container p span, .description-summary .container p span, .description-case-study .container p span, .description-history .container p span, .description-gray .container p span, .description-dark-gray .container p span, .description-orange .container p span, .description-orange-advantage .container p span {
        font-size: 1.2em;
        padding-right: 5px; }
    .description .container p.job-description, .description-summary .container p.job-description, .description-case-study .container p.job-description, .description-history .container p.job-description, .description-gray .container p.job-description, .description-dark-gray .container p.job-description, .description-orange .container p.job-description, .description-orange-advantage .container p.job-description {
      color: #808080;
      padding-top: 0; }
    .description .container p.extra-padding-bottom, .description-summary .container p.extra-padding-bottom, .description-case-study .container p.extra-padding-bottom, .description-history .container p.extra-padding-bottom, .description-gray .container p.extra-padding-bottom, .description-dark-gray .container p.extra-padding-bottom, .description-orange .container p.extra-padding-bottom, .description-orange-advantage .container p.extra-padding-bottom {
      padding-bottom: 4em; }
    .description .container p.less-padding-top, .description-summary .container p.less-padding-top, .description-case-study .container p.less-padding-top, .description-history .container p.less-padding-top, .description-gray .container p.less-padding-top, .description-dark-gray .container p.less-padding-top, .description-orange .container p.less-padding-top, .description-orange-advantage .container p.less-padding-top {
      padding-top: 0; }
    .description .container form, .description-summary .container form, .description-case-study .container form, .description-history .container form, .description-gray .container form, .description-dark-gray .container form, .description-orange .container form, .description-orange-advantage .container form {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      padding: 2em 0 5em; }
      .description .container form:last-child, .description-summary .container form:last-child, .description-case-study .container form:last-child, .description-history .container form:last-child, .description-gray .container form:last-child, .description-dark-gray .container form:last-child, .description-orange .container form:last-child, .description-orange-advantage .container form:last-child {
        margin-right: 0; }
      .description .container form input, .description-summary .container form input, .description-case-study .container form input, .description-history .container form input, .description-gray .container form input, .description-dark-gray .container form input, .description-orange .container form input, .description-orange-advantage .container form input, .description .container form textarea, .description-summary .container form textarea, .description-case-study .container form textarea, .description-history .container form textarea, .description-gray .container form textarea, .description-dark-gray .container form textarea, .description-orange .container form textarea, .description-orange-advantage .container form textarea {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        background-color: #eeeeee;
        border: none;
        display: block;
        padding: 1.5em 1em;
        margin: 0.75em 0; }
        .description .container form input:last-child, .description-summary .container form input:last-child, .description-case-study .container form input:last-child, .description-history .container form input:last-child, .description-gray .container form input:last-child, .description-dark-gray .container form input:last-child, .description-orange .container form input:last-child, .description-orange-advantage .container form input:last-child, .description .container form textarea:last-child, .description-summary .container form textarea:last-child, .description-case-study .container form textarea:last-child, .description-history .container form textarea:last-child, .description-gray .container form textarea:last-child, .description-dark-gray .container form textarea:last-child, .description-orange .container form textarea:last-child, .description-orange-advantage .container form textarea:last-child {
          margin-right: 0; }
    .description .container .center, .description-summary .container .center, .description-case-study .container .center, .description-history .container .center, .description-gray .container .center, .description-dark-gray .container .center, .description-orange .container .center, .description-orange-advantage .container .center {
      padding-bottom: 3em; }
    .description .container .block, .description-summary .container .block, .description-case-study .container .block, .description-history .container .block, .description-gray .container .block, .description-dark-gray .container .block, .description-orange .container .block, .description-orange-advantage .container .block {
      clear: both; }

.description-summary {
  background: url(../assets/summary-bg.jpg);
  background-position: center;
  background-size: cover;
  color: #fff; }
  .description-summary .container .block .headings h3 {
    padding-top: 2.5em;
    color: #fff; }
  .description-summary .container .block .headings h3:first-child {
    padding-top: 0.5em; }
  .description-summary .container p span {
    font-size: 1.0em;
    padding-right: 0; }
  .description-summary .container p.bigger-icon {
    clear: left;
    padding-top: 1em;
    padding-bottom: 3em; }
    .description-summary .container p.bigger-icon span {
      float: left;
      font-size: 2.5em;
      padding-right: 0.5em; }
  .description-summary .container p.shift {
    padding-top: 1.5em;
    color: #666666; }
  .description-summary .container hr {
    border-top: 1px solid #666666; }

@media only screen and (min-width: 800px) {
  .description-summary .container .block .headings h3 {
    padding-top: 10px; } }

.description-case-study .container h2 {
  font-size: 3.2em;
  color: #f9a848;
  padding-bottom: 40px;
  font-weight: 400; }

.description-history {
  background: url(../assets/history-bg.jpg);
  background-position: center;
  color: #fff; }
  .description-history .container hr {
    border-top: 1px solid #fff; }

.description-gray {
  background-color: #f6f7f7; }

.description-dark-gray {
  background-color: #333333;
  color: #fff; }
  .description-dark-gray .container hr {
    border-top: 1px solid #fff; }

.description-orange, .description-orange-advantage {
  background-color: #f9a848;
  padding-bottom: 0; }
  .description-orange .container img, .description-orange-advantage .container img {
    clear: both; }
  .description-orange .container img:nth-child(2), .description-orange-advantage .container img:nth-child(2) {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%; }
    .description-orange .container img:nth-child(2):last-child, .description-orange-advantage .container img:nth-child(2):last-child {
      margin-right: 0; }
  .description-orange .container h3, .description-orange-advantage .container h3 {
    color: #fff;
    padding-bottom: 20px; }
  .description-orange .container p, .description-orange-advantage .container p {
    padding-top: 0;
    padding-bottom: 4em; }
  .description-orange .container p:nth-child(3), .description-orange-advantage .container p:nth-child(3) {
    margin-left: 5em; }

@media only screen and (min-width: 800px) {
  .description, .description-summary, .description-case-study, .description-history, .description-gray, .description-dark-gray, .description-orange, .description-orange-advantage {
    padding-top: 0; }
    .description .container, .description-summary .container, .description-case-study .container, .description-history .container, .description-gray .container, .description-dark-gray .container, .description-orange .container, .description-orange-advantage .container {
      padding-top: 4em; }
      .description .container h4, .description-summary .container h4, .description-case-study .container h4, .description-history .container h4, .description-gray .container h4, .description-dark-gray .container h4, .description-orange .container h4, .description-orange-advantage .container h4 {
        padding-top: 14px; }
      .description .container p, .description-summary .container p, .description-case-study .container p, .description-history .container p, .description-gray .container p, .description-dark-gray .container p, .description-orange .container p, .description-orange-advantage .container p, .description .container p.less-padding-top, .description-summary .container p.less-padding-top, .description-case-study .container p.less-padding-top, .description-history .container p.less-padding-top, .description-gray .container p.less-padding-top, .description-dark-gray .container p.less-padding-top, .description-orange .container p.less-padding-top, .description-orange-advantage .container p.less-padding-top {
        padding-top: 1em; }
      .description .container img, .description-summary .container img, .description-case-study .container img, .description-history .container img, .description-gray .container img, .description-dark-gray .container img, .description-orange .container img, .description-orange-advantage .container img {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%; }
        .description .container img:last-child, .description-summary .container img:last-child, .description-case-study .container img:last-child, .description-history .container img:last-child, .description-gray .container img:last-child, .description-dark-gray .container img:last-child, .description-orange .container img:last-child, .description-orange-advantage .container img:last-child {
          margin-right: 0; }
      .description .container .block, .description-summary .container .block, .description-case-study .container .block, .description-history .container .block, .description-gray .container .block, .description-dark-gray .container .block, .description-orange .container .block, .description-orange-advantage .container .block {
        height: 200px; }
        .description .container .block .headings, .description-summary .container .block .headings, .description-case-study .container .block .headings, .description-history .container .block .headings, .description-gray .container .block .headings, .description-dark-gray .container .block .headings, .description-orange .container .block .headings, .description-orange-advantage .container .block .headings {
          padding-bottom: 2em; }
        .description .container .block .columns-right p.extra-padding-bottom, .description-summary .container .block .columns-right p.extra-padding-bottom, .description-case-study .container .block .columns-right p.extra-padding-bottom, .description-history .container .block .columns-right p.extra-padding-bottom, .description-gray .container .block .columns-right p.extra-padding-bottom, .description-dark-gray .container .block .columns-right p.extra-padding-bottom, .description-orange .container .block .columns-right p.extra-padding-bottom, .description-orange-advantage .container .block .columns-right p.extra-padding-bottom {
          padding-top: 1em; }
      .description .container form, .description-summary .container form, .description-case-study .container form, .description-history .container form, .description-gray .container form, .description-dark-gray .container form, .description-orange .container form, .description-orange-advantage .container form {
        padding-top: 0; } }

.description-orange-advantage .container .first-block {
  display: block; }
  .description-orange-advantage .container .first-block img {
    width: 50px;
    height: 80px;
    float: left;
    padding-right: 2em; }
  .description-orange-advantage .container .first-block p {
    color: #fff;
    padding-bottom: 0; }

.description-orange-advantage .container .block img, .description-orange-advantage .container .block h3 {
  margin: 0 -webkit-calc((100% - 150px)/2);
  margin: 0 calc((100% - 150px)/2); }

.description-orange-advantage .container .block img {
  padding-bottom: 1em; }

.description-orange-advantage .container .block img.hidden {
  display: none; }

.description-orange-advantage .container p:nth-child(3) {
  margin: 0; }

@media only screen and (min-width: 800px) {
  .description-orange-advantage .container .first-block {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    .description-orange-advantage .container .first-block:last-child {
      margin-right: 0; }
    .description-orange-advantage .container .first-block p {
      padding-top: 0; }
  .description-orange-advantage .container .block {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    clear: none;
    height: auto; }
    .description-orange-advantage .container .block:last-child {
      margin-right: 0; }
    .description-orange-advantage .container .block img, .description-orange-advantage .container .block h3 {
      margin: 0; }
    .description-orange-advantage .container .block .images {
      position: relative;
      display: inline-block; }
      .description-orange-advantage .container .block .images img {
        display: inline-block;
        width: 120px; }
      .description-orange-advantage .container .block .images img.hidden {
        position: absolute;
        height: 40px;
        width: auto;
        padding-left: 2em;
        bottom: 0; } }

.more {
  background-color: #f9a848;
  text-align: center;
  color: #fff;
  padding-bottom: 0; }
  .more .container {
    padding-bottom: 10em; }
    .more .container p {
      padding: 2em 0;
      font-size: 3.2em; }
    .more .container blockquote {
      padding: 2em 0;
      font-size: 3.2em;
      padding-bottom: 0; }

@media only screen and (min-width: 800px) {
  .more .container p, .more .container blockquote {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-left: 17.05961%;
    float: none; }
    .more .container p:last-child, .more .container blockquote:last-child {
      margin-right: 0; } }
