html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *::after, *::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-size: 62.5%; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "MyriadPro";
  src: url("../fonts/MyriadPro-Regular.otf") format("truetype"); }

@font-face {
  font-family: "Pangram";
  src: url("../fonts/Pangram-Black.otf") format("truetype");
  font-weight: 700; }

@font-face {
  font-family: "Pangram";
  src: url("../fonts/Pangram-ExtraBold.otf") format("truetype");
  font-weight: 600; }

@font-face {
  font-family: "Pangram";
  src: url("../fonts/Pangram-Bold.otf") format("truetype");
  font-weight: 500; }

@font-face {
  font-family: "Pangram";
  src: url("../fonts/Pangram-Regular.otf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: "Pangram";
  src: url("../fonts/Pangram-Light.otf") format("truetype");
  font-weight: 300; }

@font-face {
  font-family: "Pangram";
  src: url("../fonts/Pangram-ExtraLight.otf") format("truetype");
  font-weight: 200; }

.offscreen {
  display: block;
  left: -999999px;
  position: absolute;
  top: -999999px; }

body {
  font-family: "Pangram", sans-serif;
  font-weight: 400;
  color: #fff;
  letter-spacing: .1em; }

h1, h2 {
  font-size: 3.6em; }

a {
  text-decoration: none;
  color: #fff;
  font-size: 1.4em;
  padding: 2em 3em; }

a.button {
  border: 1px solid #fff;
  border-radius: 3.0em; }

section {
  padding: 0 20px; }

hr {
  margin-left: 0;
  border-top: 1px solid #1a1a1a;
  width: 8.0em; }

.black-font {
  color: #050505; }

.white-font {
  color: #fff; }

nav {
  background: url(../assets/home-hero-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative; }
  nav .nav-bar {
    padding: 2em 2em 15em; }
    nav .nav-bar a.home {
      display: inline-block;
      position: absolute;
      padding: 0;
      border: none;
      z-index: 5; }
      nav .nav-bar a.home img {
        width: 125px; }
    nav .nav-bar h1, nav .nav-bar h2 {
      padding-top: 4.5em; }
    nav .nav-bar p {
      padding: 2em 0 5em;
      font-size: 1.8em; }
    nav .nav-bar #nav-icon {
      display: inline-block;
      position: absolute;
      right: 2em;
      width: 3.0em;
      height: 69px;
      cursor: pointer;
      z-index: 4;
      -webkit-transition: margin-right .5s;
      transition: margin-right .5s;
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg); }
      nav .nav-bar #nav-icon span {
        position: absolute;
        display: block;
        width: 100%;
        height: 5px;
        background: #fff;
        left: 0;
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        transition: .25s ease-in-out; }
      nav .nav-bar #nav-icon span:nth-child(1) {
        top: 26px; }
      nav .nav-bar #nav-icon span:nth-child(2), nav .nav-bar #nav-icon span:nth-child(3) {
        top: 36px; }
      nav .nav-bar #nav-icon span:nth-child(4) {
        top: 46px; }
    nav .nav-bar #nav-icon.open {
      z-index: 4; }
      nav .nav-bar #nav-icon.open span:nth-child(1) {
        top: 36px;
        width: 0%;
        left: 50%; }
      nav .nav-bar #nav-icon.open span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg); }
      nav .nav-bar #nav-icon.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg); }
      nav .nav-bar #nav-icon.open span:nth-child(4) {
        top: 36px;
        width: 0%;
        left: 50%; }
    nav .nav-bar #nav-links {
      position: absolute;
      background-color: #050505;
      left: 100%;
      width: 0;
      height: 100vh;
      top: 0;
      overflow: hidden;
      -webkit-transition: .25s ease-in-out;
      transition: .25s ease-in-out; }
      nav .nav-bar #nav-links ul {
        padding: 9em 0 2em; }
        nav .nav-bar #nav-links ul li {
          font-size: 1.8em;
          padding: 0.5em 0;
          text-align: center; }
          nav .nav-bar #nav-links ul li a {
            font-size: 1em;
            border: none;
            padding: inherit; }
    nav .nav-bar #nav-links.popup {
      width: 100%;
      position: absolute;
      left: 0;
      -webkit-transition: all .25s ease-in-out;
      transition: all .25s ease-in-out; }

nav.focus, nav.shift {
  background: url(../assets/clutch-focus-hero.jpg);
  background-repeat: no-repeat;
  background-position: left -13em center; }
  nav.focus .nav-bar, nav.shift .nav-bar {
    padding-bottom: 0; }

nav.shift {
  background: url(../assets/clutch-shift-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left -20em center; }

.featured-cs {
  background-color: #050505;
  padding-bottom: 2em; }
  .featured-cs h2 {
    padding: 2em 0;
    font-size: 1.4em;
    font-weight: 500; }
  .featured-cs .case-studies {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    .featured-cs .case-studies::after {
      clear: both;
      content: "";
      display: table; }
    .featured-cs .case-studies .case-block {
      background: url(../assets/data-bg.jpg);
      background-size: 100% auto;
      background-repeat: no-repeat;
      position: relative;
      padding: 1.5em;
      height: 260px;
      margin-bottom: 2em; }
      .featured-cs .case-studies .case-block h3 {
        font-size: 3.6em;
        padding-bottom: 0.5em; }
      .featured-cs .case-studies .case-block p {
        font-size: 1.4em;
        font-weight: 500;
        color: #aeaeaf; }
      .featured-cs .case-studies .case-block a {
        position: absolute;
        color: #f9a848;
        padding: 1em 0;
        bottom: 0;
        border: none; }
    .featured-cs .case-studies .case-block:nth-child(3) {
      background: url(../assets/road-bg.jpg);
      background-size: auto 100%;
      background-position: center; }

.clients {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 4em; }
  .clients::after {
    clear: both;
    content: "";
    display: table; }
  .clients h2 {
    padding: 2em 0;
    font-size: 1.4em;
    font-weight: 500;
    color: #050505; }
  .clients ul {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    .clients ul:last-child {
      margin-right: 0; }
    .clients ul li {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%;
      height: 120px;
      line-height: 120px;
      text-align: center; }
      .clients ul li:last-child {
        margin-right: 0; }
      .clients ul li img {
        width: 80%;
        vertical-align: middle; }
      .clients ul li img#att {
        width: 70%; }
    .clients ul li:nth-child(2n) {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%;
      margin-right: 0; }
      .clients ul li:nth-child(2n):last-child {
        margin-right: 0; }

footer {
  text-align: center; }
  footer a {
    border: none; }
  footer .top-footer {
    padding: 4em 0;
    background-color: #050505; }
    footer .top-footer > * {
      font-size: 16px; }
    footer .top-footer a {
      padding-bottom: 2em; }
    footer .top-footer p {
      padding-top: 2em; }
  footer .bottom-footer {
    background-color: #333333;
    padding: 4em 0; }
    footer .bottom-footer a {
      padding: 0 0.5em 0;
      text-decoration: underline; }
    footer .bottom-footer p {
      padding-top: 2em; }

.info {
  background-color: #050505;
  padding-top: 4em;
  padding-bottom: 6em;
  color: #676767;
  font-weight: 300; }
  .info p {
    font-size: 1.8em; }

.drop-menu {
  background-color: #333333;
  font-size: 1.4em; }
  .drop-menu p {
    padding: 2em 0; }

.description, .description-no-h3, .description-summary, .description-gray, .description-dark-gray, .description-orange {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  color: #333333;
  padding-top: 2em;
  padding-bottom: 4em; }
  .description::after, .description-no-h3::after, .description-summary::after, .description-gray::after, .description-dark-gray::after, .description-orange::after {
    clear: both;
    content: "";
    display: table; }
  .description img, .description-no-h3 img, .description-summary img, .description-gray img, .description-dark-gray img, .description-orange img {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    padding-bottom: 4em; }
    .description img:last-child, .description-no-h3 img:last-child, .description-summary img:last-child, .description-gray img:last-child, .description-dark-gray img:last-child, .description-orange img:last-child {
      margin-right: 0; }
  .description h2, .description-no-h3 h2, .description-summary h2, .description-gray h2, .description-dark-gray h2, .description-orange h2 {
    clear: both;
    font-size: 1.4em;
    padding-bottom: 2em;
    font-weight: 500; }
  .description h3, .description-no-h3 h3, .description-summary h3, .description-gray h3, .description-dark-gray h3, .description-orange h3 {
    clear: both;
    font-size: 3.2em;
    color: #f9a848;
    padding-bottom: 40px;
    font-weight: 400; }
  .description p, .description-no-h3 p, .description-summary p, .description-gray p, .description-dark-gray p, .description-orange p {
    font-size: 1.4em;
    padding-top: 40px;
    font-weight: 400; }

.description-no-h3 h2 {
  font-size: 3.2em;
  padding-bottom: 40px;
  color: #f9a848; }

.description-summary {
  background: url(../assets/summary-bg.jpg);
  background-position: center;
  background-size: cover;
  color: #fff; }
  .description-summary h3 {
    padding-top: 2.5em;
    color: #fff; }
  .description-summary h3:first-child {
    padding-top: 0; }
  .description-summary p.shift {
    padding-top: 1.5em;
    color: #666666; }

.description-gray {
  background-color: #f6f7f7; }

.description-dark-gray {
  background-color: #333333;
  color: #fff; }

.description-orange {
  background-color: #f9a848;
  padding-bottom: 0; }
  .description-orange img {
    clear: both; }
  .description-orange img:nth-child(2) {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%; }
    .description-orange img:nth-child(2):last-child {
      margin-right: 0; }
  .description-orange h3 {
    color: #fff;
    padding-bottom: 20px; }
  .description-orange p {
    padding-top: 0;
    padding-bottom: 4em; }
  .description-orange p:nth-child(3) {
    margin-left: 5em; }

.more {
  background-color: #f9a848;
  text-align: center;
  padding-bottom: 10em; }
  .more p {
    padding: 2em 0;
    font-size: 3.2em; }
