html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *::after, *::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-size: 62.5%; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "MyriadPro";
  src: url("../fonts/MyriadPro-Regular.otf") format("truetype"); }

@font-face {
  font-family: "Pangram";
  src: url("../fonts/Pangram-Black.otf") format("truetype");
  font-weight: 700; }

@font-face {
  font-family: "Pangram";
  src: url("../fonts/Pangram-ExtraBold.otf") format("truetype");
  font-weight: 600; }

@font-face {
  font-family: "Pangram";
  src: url("../fonts/Pangram-Bold.otf") format("truetype");
  font-weight: 500; }

@font-face {
  font-family: "Pangram";
  src: url("../fonts/Pangram-Regular.otf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: "Pangram";
  src: url("../fonts/Pangram-Light.otf") format("truetype");
  font-weight: 300; }

@font-face {
  font-family: "Pangram";
  src: url("../fonts/Pangram-ExtraLight.otf") format("truetype");
  font-weight: 200; }

.offscreen {
  display: block;
  left: -999999px;
  position: absolute;
  top: -999999px; }

body {
  font-family: "Pangram", sans-serif;
  font-weight: 400;
  color: #fff;
  letter-spacing: .1em; }

h1, h2 {
  font-size: 3.6em; }

a {
  font-size: 1.4em;
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 3.0em;
  padding: 2em 3em; }

section {
  padding: 0 2em; }

nav {
  background: url(../assets/home-hero-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative; }
  nav .nav-bar {
    padding: 2em 2em 15em; }
    nav .nav-bar img {
      display: inline-block;
      width: 125px; }
    nav .nav-bar h1, nav .nav-bar h2 {
      padding-top: 3em; }
    nav .nav-bar p {
      padding: 2em 0 5em;
      font-size: 1.8em; }
    nav .nav-bar #nav-icon {
      display: inline-block;
      position: absolute;
      right: 2em;
      width: 3.0em;
      height: 69px;
      cursor: pointer;
      z-index: 4;
      -webkit-transition: margin-right .5s;
      transition: margin-right .5s;
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg); }
      nav .nav-bar #nav-icon span {
        position: absolute;
        display: block;
        width: 100%;
        height: 5px;
        background: #fff;
        left: 0;
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        transition: .25s ease-in-out; }
      nav .nav-bar #nav-icon span:nth-child(1) {
        top: 26px; }
      nav .nav-bar #nav-icon span:nth-child(2), nav .nav-bar #nav-icon span:nth-child(3) {
        top: 36px; }
      nav .nav-bar #nav-icon span:nth-child(4) {
        top: 46px; }
    nav .nav-bar #nav-icon.open {
      z-index: 4; }
      nav .nav-bar #nav-icon.open span:nth-child(1) {
        top: 36px;
        width: 0%;
        left: 50%; }
      nav .nav-bar #nav-icon.open span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg); }
      nav .nav-bar #nav-icon.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg); }
      nav .nav-bar #nav-icon.open span:nth-child(4) {
        top: 36px;
        width: 0%;
        left: 50%; }
    nav .nav-bar #nav-links {
      position: absolute;
      left: 100%;
      width: 100%;
      height: 100%;
      -webkit-transition: .25s ease-in-out;
      transition: .25s ease-in-out; }
      nav .nav-bar #nav-links ul {
        padding: 2em; }
        nav .nav-bar #nav-links ul li {
          padding: 0.5em 0;
          font-size: 1.8em;
          text-align: center; }
    nav .nav-bar #nav-links.popup {
      background-color: #050505;
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-transition: .25s ease-in-out;
      transition: .25s ease-in-out; }

.featured-cs {
  background-color: #050505;
  padding-bottom: 2em; }
  .featured-cs h2 {
    padding: 2em 0;
    font-size: 1.4em; }
  .featured-cs .case-block {
    background: url(../assets/data-bg.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    position: relative;
    padding: 1.5em;
    height: 260px;
    margin-bottom: 2em; }
    .featured-cs .case-block h3 {
      font-size: 3.6em;
      padding-bottom: 0.5em; }
    .featured-cs .case-block p {
      font-size: 1.4em;
      color: #aeaeaf; }
    .featured-cs .case-block a {
      position: absolute;
      color: #f9a848;
      padding: 1em 0;
      bottom: 0;
      border: none; }
  .featured-cs .case-block:nth-child(3) {
    background: url(../assets/road-bg.jpg);
    background-size: auto 100%;
    background-position: center; }
