.description {
    color: $dark-gray;
    padding-top: 3em;
    padding-bottom: 0;

    .container {
        padding-bottom: 4em;

        img {
            width: 150px;
            padding-bottom: 4em;
        }

        h2 {
            clear: both;
            font-size: 1.4em;
            padding-top: 1em;
            padding-bottom: 2em;
            font-weight: 500;
        }

        h3 {
            clear: both;
            font-size: 3.2em;
            color: $orange;
            padding-top: 10px;
            padding-bottom: 40px;
            font-weight: 400;
        }

        h4 {
            font-size: 3.2em;
            color: $dark-gray;
            padding-top: 40px;

            &::after {
                @include icon-font("\e901", 0.5em, 0.8em, $orange);
            }
        }

        p {
            font-size: 1.4em;
            padding-top: 40px;
            font-weight: 400;

            a {
                font-size: 1em;
                display: inline;
                border: none;
                padding: 0;
                color: $orange;
            }

            span {
                font-size: 1.2em;
                padding-right: 5px;
            }
        }

        p.job-description {
            color: #808080;
            padding-top: 0;
        }

        p.extra-padding-bottom {
            padding-bottom: 4em;
        }

        p.less-padding-top {
            padding-top: 0;
        }

        form {
            @include span-columns(12);
            padding: 2em 0 5em;

            input, textarea {
                @include span-columns(12 of 12);
                background-color: #eeeeee;
                border: none;
                display: block;
                padding: 1.5em 1em;
                margin: 0.75em 0;
            }
        }

        .center {
            padding-bottom: 3em;
        }

        .block {
            clear: both;
        }
    }
}

//description with bolts and screws
.description-summary {
    @extend .description;
    background: url(../assets/summary-bg.jpg);
    background-position: center;
    background-size: cover;
    color: $white;

    .container {
        h3 {
            padding-top: 2.5em;
            color: $white;
        }

        h3:first-child {
            padding-top: 0;
        }

        p {
            span {
                font-size: 1.0em;
                padding-right: 0;
            }
        }

        p.bigger-icon {
            clear: left;
            padding-top: 1em;
            padding-bottom: 3em;
            span {
                float: left;
                font-size: 2.5em;
                padding-right: 0.5em;
            }
        }

        p.shift {
            padding-top: 1.5em;
            color: $scary-gray;
        }

        hr {
            border-top: 1px solid $scary-gray;
        }
    }
}

//descript with case study blocks
.description-case-study {
    @extend .description;

    .container {
        h2 {
            font-size: 3.2em;
            color: $orange;
            padding-bottom: 40px;
            font-weight: 400;
        }
    }
}

//description and a history background
.description-history {
    @extend .description;
    background: url(../assets/history-bg.jpg);
    background-position: center;
    color: $white;

    .container {
        hr {
            border-top: 1px solid $white;
        }
    }
}

//Description with off gray background
.description-gray {
    @extend .description;
    background-color: $off-gray;
}

//Description with dark gray background
.description-dark-gray {
    @extend .description;
    background-color: $dark-gray;
    color: $white;

    .container {
        hr {
            border-top: 1px solid $white;
        }
    }
}

//Description with orange background
.description-orange {
    @extend .description;
    background-color: $orange;
    padding-bottom: 0;

    .container {
        img{
            clear: both;
        }

        img:nth-child(2) {
            @include span-columns(2);
        }


        h3 {
            color: $white;
            padding-bottom: 20px;
        }

        p {
            padding-top: 0;
            padding-bottom: 4em;
        }

        p:nth-child(3) {
            margin-left: 5em;
        }
    }
}


//tinkering with spacing with desktop layout
@media only screen and (min-width: 800px) {
    .description {
        padding-top: 0;
        
        .container {
            padding: 4em 0;

            p, p.less-padding-top {
                padding-top: 1em;
            }

            img {
                @include span-columns(6);
            }

            .block {
                height: 200px;

                .headings {
                    padding-bottom: 2em;
                }

                .columns-right {

                    p.extra-padding-bottom {
                        padding-top: 1em;
                    }
                }
            }
        }
    }
}

//descript with layout for customer advantage section
.description-orange-advantage {
    @extend .description-orange;
    .container {
        .first-block {
            display: block;
            img {
                width: 50px;
                float: left;
                padding-right: 2em;
            }

            p {
                color: $white;
                padding-bottom: 0;
            }
        }

        .block {
            img, h3 {
                margin: 0 calc((100% - 150px)/2);
            }

            img {
                padding-bottom: 1em;
            }

            img.hidden {
                display: none;
            }
        }

        p:nth-child(3) {
            margin: 0;
        }
    }
}

//media query for customer advantage section only
@media only screen and (min-width: 800px) {
    .description-orange-advantage {
        .container {

            .first-block {
                @include span-columns(12);

                p {
                    padding-top: 0;
                }
            }

                .block {
                    @include span-columns(3);
                    clear: none;
                    height: auto;

                    img, h3 {
                        margin: 0;
                    }

                    .images {
                        position: relative;
                        display: inline-block;

                        img {
                            display: inline-block;
                            width: 120px;
                        }

                        img.hidden {
                            position: absolute;
                            height: 40px;
                            width: auto;
                            padding-left: 2em;
                            bottom: 0;
                        }
                    }

            }
        }
    }
}
