.drop-menu {
    background-color: $dark-gray;
    font-size: 1.4em;

    .container {
        p {
            cursor: pointer;
            padding: 2em 0;

            span {
                float: right;
                transform: rotate(0deg);
                transition: transform 0.4s ease;
            }

            span.rotate {
                transform: rotate(-180deg);
            }
        }

        .menu {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.25s ease;

            ul {

                li {
                    padding: 0.25em 0;
                    a {
                        display: block;
                        padding: inherit;
                        font-size: 14px;
                    }
                    &:last-child {
                        margin-bottom: 2em;
                    }
                }
            }
        }

        .menu.open {
            max-height: 200px;
            transition: max-height 0.75s ease;
        }
    }
}

@media only screen and (min-width: 800px) {
    .drop-menu {
        .container {

            p {
                display: none;
            }

            .menu {
                max-height: 300px;
                overflow: visible;

                ul {
                    margin: 0;


                    li {
                        @include span-columns(2.4);
                        display: inline-block;
                        padding: 0 2.5%;
                        position: relative;

                        a {
                            padding: 2em 0;
                            text-align: center;

                        }

                        &:hover::after, &:focus::after {
                            border-left: 10px solid transparent;
                            border-right: 10px solid transparent;
                            border-top: 10px solid $dark-gray;
                            content: "";
                            position: absolute;
                            top: 100%;
                            width: 0;
                            height: 0;
                            left: 43%;
                            display: block;
                            z-index: 5;
                        }

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}
