.featured-cs {
    background-color: $black;
    padding-bottom: 2em;
    padding-top: 4em;

    h2 {
        padding-bottom: 2em;
        font-size: 1.4em;
        font-weight: 500;
    }

    .container {

        .case-block {
            background: url(../assets/data-bg.jpg);
            background-size: 100% auto;
            background-repeat: no-repeat;
            position: relative;
            padding: 1.5em;
            height: 260px;
            margin-bottom: 2em;

            h3 {
                font-size: 3.6em;
                padding-bottom: 0.5em;
            }

            p {
                font-size: 1.4em;
                font-weight: 500;
                color: $light-gray;
            }

            a {
                position: absolute;
                color: $orange;
                padding: 1em 0;
                bottom: 0;
                border: none;
            }
        }

        .case-block:nth-child(3) {
            background: url(../assets/road-bg.jpg);
            background-size: auto 100%;
            background-position: center;
        }
    }
}

.featured-cs-white {
    @extend .featured-cs;
    background-color: $white;

    h2 {
        color: $black;
    }
}

@media only screen and (min-width: 600px) {
    .featured-cs {
        .container {
            .case-block {
                @include span-columns(6 of 12);

                &:nth-child(2n+1) {
                    @include omega;
                }
            }
        }
    }
}
