.more {
    background-color: $orange;
    text-align: center;
    padding-bottom: 10em;

    .container {
        p {
            padding: 2em 0;
            font-size: 3.2em;
        }

        blockquote {
            @extend p;
            padding-bottom: 0;
        }
    }
}
