nav {
    background: url(../assets/home-hero-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    .nav-bar {
        padding: 2em 2em 15em;

        a.home {
            display: inline-block;
            position: absolute;
            padding: 0;
            border: none;
            z-index: 5;

            img {
                width: 125px;
            }
        }

        h1, h2 {
            padding-top: 4.5em;
        }

        p {
            padding: 2em 0 5em;
            font-size: 1.8em;
        }

        #nav-icon {
            display: inline-block;
            position: absolute;
            right: 2em;
            width: 3.0em;
            height: 69px;
            cursor: pointer;
            z-index: 4;

            transition: margin-right .5s;
            transform: rotate(0deg);

            span {
                position: absolute;
                display: block;
                width: 100%;
                height: 5px;
                background: #fff;
                left: 0;

                transform: rotate(0deg);
                transition: .25s ease-in-out;
            }

            span:nth-child(1) {
                top: 26px;
            }

            span:nth-child(2), span:nth-child(3) {
                top: 36px;
            }

            span:nth-child(4) {
                top: 46px;
            }
        }

        #nav-icon.open {
            z-index: 4;

            span:nth-child(1) {
                top: 36px;
                width: 0%;
                left: 50%;
            }

            span:nth-child(2) {
                transform: rotate(45deg);
            }

            span:nth-child(3) {
                transform: rotate(-45deg);
            }

            span:nth-child(4) {
                top: 36px;
                width: 0%;
                left: 50%;
            }
        }

        #nav-links {
            position: absolute;
            background-color: $black;
            left: 100%;
            width: 0;
            height: 100vh;
            top: 0;
            overflow: hidden;

            transition: .25s ease-in-out;

            ul {
                padding: 9em 0 2em;

                li {
                    font-size: 1.8em;
                    padding: 0.5em 0;
                    text-align: center;

                    a {
                        font-size: 1em;
                        border: none;
                        padding: inherit;
                    }
                }
            }
        }

        #nav-links.popup {
            width: 100%;
            position: absolute;
            left: 0;

            transition: all .25s ease-in-out;
        }
    }
}

nav.focus {
    background: url(../assets/clutch-focus-hero.jpg);
    background-repeat: no-repeat;
    background-position: left -13em center;

    .nav-bar {
        padding-bottom: 0;
    }
}

nav.shift {
    @extend nav.focus;
    background: url(../assets/clutch-shift-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left -20em center;
}
